<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.edu.qut.inn372.greenhat.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="au.edu.qut.inn372.greenhat.activity" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BasicInputActivity"
            android:label="@string/title_activity_basic_input" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.edu.qut.inn372.greenhat.activity.LoginActivity" />
        </activity>
        <activity
            android:name=".PowerGeneration"
            android:label="@string/title_power_generation" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.edu.qut.inn372.greenhat.activity.BasicInputActivity" />
        </activity>
        <activity
            android:name=".LocationActivity"
            android:label="@string/title_activity_location" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.edu.qut.inn372.greenhat.activity.LoginActivity" />
        </activity>
        <activity
            android:name=".EquipmentActivity"
            android:label="@string/title_activity_equipment" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.edu.qut.inn372.greenhat.activity.LocationActivity" />
        </activity>
        <activity
            android:name=".RoofActivity"
            android:label="@string/title_activity_roof" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.edu.qut.inn372.greenhat.activity.EquipmentActivity" />
        </activity>
        <activity
            android:name=".CustomerUsageActivity"
            android:label="@string/title_activity_customerusage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.edu.qut.inn372.greenhat.activity.RoofActivity" />
        </activity>
        <activity
            android:name=".TabbedActivity"
            android:label="@string/title_activity_tabbed" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.edu.qut.inn372.greenhat.activity.LoginActivity" />
        </activity>
        <activity
            android:name=".TabbedOutputActivity"
            android:label="@string/title_activity_tabbed_output" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.edu.qut.inn372.greenhat.activity.TabbedActivity" />
        </activity>
        <activity
            android:name=".OutputSummaryActivity"
            android:label="@string/title_activity_output_summary" >
        </activity>
        <activity
            android:name=".FinancialOutputActivity"
            android:label="@string/title_activity_output_financial" >
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration" >
        </activity>
    </application>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Tests for My App"
        android:targetPackage="au.edu.qut.inn372.greenhat.activity" />

</manifest>